#playing-area {
    /* border-radius: 30px; */
    border: 10px solid navy;
    height: calc(90vh + 20px);
    width: calc(90vh + 20px);
    margin: 0 auto;
}

#board {
    height: 90vh;
    width: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.board-square {
    background-color: black;
    border: 1px solid green;
    cursor: pointer;
}

.difficulty-button {
    margin: 0 1rem;
    width: 150px;
}

#ships-remaining-list {
    list-style: none;
}

/* .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-md-4 {
    width: 24vw;
}

.col-md-8 {
    width: 74vw;
} */
